/* Universal Styles */

html,body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(60, 60, 60);
}

a {
	text-decoration: none;
}

h1 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.2;
}

h2 {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.4;
}

h3 {
	color: 	rgb(169, 169, 169);
	line-height: 1.2;
}

.flex {
	display: flex;
}

.learn {
	padding-bottom: 1.5rem;
}

/* Header Section */

header {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  height: 4rem;

}

header .content {
  align-items: center;
  padding: 0.5rem 1.5rem;
}

header .logo {
  flex: 1;
  align-items: center;
  font-size: 2rem;
}

header .logo .dark-text {
	font-weight: 700;
}

header .logo .light-text {
	color: 	rgb(169, 169, 169);
}

header img {
  width: 2.5rem;
}


nav a {
  line-height: 1.6;
  font-size: 1rem;
  color: #000;
}

nav li {
  padding-left: 1rem;
}

header .mobile {
  display: none;
}

/* Banner Section */

.banner {
	background-color: rgb(211, 211, 211);
	max-width: 100%;
	padding: 2rem 0 2rem 1.5rem;
	position: relative;
	top: 2rem;
}

.banner-image {
	max-width: 60%;
}

.banner-image img {
	max-width: 100%;
	height: auto;
	margin-top: 2rem;
}

.banner-text {
	width: 25%;
	justify-content: center;
	flex-direction: column;
	margin-left: 1.5rem;
}

.banner .description {
	padding-bottom: 1.5rem;
}

.banner .button {
	color: rgb(255, 255, 255);
	background-color: rgb(60, 60, 60);
	line-height: 1.4;
	font-weight: 300;
	padding: .5rem 4rem;
	text-align: center;
}

/* On Campus Section */

#campus {
	position: relative;
	top: 2rem;
	margin: 2rem 0 2rem 1.5rem;
	max-width: 100%;
}

#campus .main-content {
	max-width: 60%;
	margin-right: 1.5rem;
}

#campus img {
	max-width: 100%;
	height: auto;
	margin-bottom: 2rem;
	margin-right: 1.5rem;
}

#campus a {
	color: rgb(135, 206, 250);
}

#campus a:hover {
	color: rgb(0, 191, 255);
}

#campus a:visited {
	color: rgb(173, 216, 230);
}

#campus .description {
	font-weight: 300;
}

#campus .main-content .description {
	margin-bottom: 2rem;
}


#campus .sidebar {
	max-width: 40%;
	height: 100%;
	flex-direction: column;
}

#campus .sidebar img {
	max-width: 35%;
	margin: 1rem;
}

#campus .desktop .highlight {
	border: 1px solid rgb(220, 220, 220);
	align-items: center;
}

#campus .desktop .highlight:hover {
	background-color: rgba(211, 211, 211, 0.7);
}

#campus .highlight .description {
	margin: .5rem 0;
}

#campus .mobile {
	display: none;
}

/* Online Section */

#online {
	position: relative;
	flex-direction: column;
	align-items: center;
	padding: 2rem 4.5rem;
	background-color: rgb(220, 220, 220);
	top: 2rem;
}

#online .desktop {
	justify-content: space-evenly;
}

#online img {
	width: 100%;
	height: auto;
}

#online .course {
	background-color: rgb(255, 255, 255);
	margin: 2rem 1rem;
	max-width: 30%;
}

#online .course-text {
	padding: 2rem;
}

#online h3 {
	padding: 0.75rem 0;
}

#online .description {
	color: 	rgb(169, 169, 169);
	line-height: 1.4rem;
}

#online .mobile {
	display: none;
}

/* Thesis Section */

#thesis {
	position: relative;
	top: 2rem;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0 2rem 1.5rem;
	max-width: 100%;
}

#thesis .lead {
	text-align: center;
	margin: 1rem 0 2rem 0;
}

#thesis .description {
	font-weight: 300;
}

#thesis .main-content {
	max-width: 60%;
	margin-right: 1.5rem;
}

#thesis video {
	max-width: 100%;
	height: auto;
	margin-bottom: 2rem;
	margin-right: 1.5rem;
}

#thesis h2 {
	margin-bottom: .5rem;
}

#thesis .exhibit {
	flex-direction: column;
	max-width: 40%;
	margin-top: -0.35rem;
}

#thesis .exhibit img {
	max-width: 35%;
	margin: 1rem;
}

#thesis .exhibit .highlight{
	max-height: 33%;
	align-items: center;
}

#thesis .exhibit .highlight:hover {
	background-color: rgba(211, 211, 211, 0.7);
}

/* Footer Section */

footer {
	position: relative;
	top: 1rem;
	width: 100%;
	border-top: 1px solid rgb(220, 220, 220);
	height: 4rem;
}

footer .content {
  align-items: center;
  padding: 0.5rem 1.5rem;
}

footer .name {
  flex: 1;
  align-items: center;
  font-size: 0.75rem;
}

footer nav a {
  line-height: 1.6;
  font-size: 0.75rem;
  color: rgb(60, 60, 60);
}

footer nav li {
  padding-left: 1rem;
}

/* Mobile Section */
@media only screen and (max-width: 470px) {
	/* Mobile Universal Styles */
	.desktop {
		display: none;
	}
	
	
	/* Mobile Header Section */
	header {
		flex: 1;
	}
	
	header img {
		width: 2rem;
	}
		
	header .mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	nav ul {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 0;
		width: 100%;
	}

	

	/* Mobile Banner Section */
	.banner {
		display: block;
		padding: 0 0 2rem 0;
		width: 100%;
	}
	
	.banner-image {
		max-width: 100%;
	}

	.banner-text {
		width: 80%;
		margin: 0;
		padding: 1rem 1rem 0 2rem;
	}
	
	.banner .button {
	color: rgb(255, 255, 255);
	background-color: rgb(169, 169, 169);
	line-height: 1.4;
	font-weight: 500;
	padding: .5rem 2.5rem;
	text-align: center;
}
	
	/* Mobile Campus Section */
	
	#campus {
		margin: 0;
		width: 100%;
	}
	
	#campus .mobile {
		display: block;
		border: 0;
	}	
	
	#campus .sidebar {
		max-width: 100%
	}
	
	#campus .sidebar img {
		max-width: 100%;
		margin: 0;
	}
	
	#campus .highlight {
		margin: 1rem;
	}
	
	#campus .info-text {
		flex-direction: column;
		margin: 2rem 1rem;
	}
	
	/* Mobile Online Section */
	#online {
		background-color: rgb(255, 255, 255);
		border-top: 1px solid rgb(220, 220, 220);
		border-bottom: 1px solid rgb(220, 220, 220);
		padding: 2rem 0;
	}
	
	#online .mobile {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	
	#online h1 {
		padding-bottom: 1rem;
	}
	
	#online h2 {
		font-size: 1.5rem;
	}
	
	#online .course-name {
		background-color: rgb(211, 211, 211);
		max-width: 90%;
		margin: 0.5rem 1rem;
		padding: 1rem 0 1rem 1rem;
	}
	
	/* Mobile Thesis Section */
	#thesis {
		margin: 1rem 0 0 0;
		width: 100%;
		padding-bottom: 1.5rem;
	}
	
	#thesis .main-content {
		max-width: 100%;
		margin: 0;
	}
	
	#thesis video {
		width: 100%;
		margin: 0 0 1.5rem 0;
	}
}