/* Universal Styles */

html,body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgb(60, 60, 60);
}

a {
	text-decoration: none;
}

h1 {
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.2;
}

.flex {
	display: flex;
}

.learn {
	padding-bottom: 1.5rem;
}

/* Header Section */

header {
  position: fixed;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  height: 4rem;

}

header .content {
  align-items: center;
  padding: 0.5rem 1.5rem;
}

header .logo {
  flex: 1;
  align-items: center;
  font-size: 2rem;
}


header .logo .dark-text {
	font-weight: 700;
}

header .logo .light-text {
	color: 	rgb(169, 169, 169);
}

header img {
  width: 2.5rem;
}


nav a {
  line-height: 1.6;
  font-size: 1rem;
  color: #000;
}

nav li {
  padding-left: 1rem;
}

header .mobile {
  display: none;
}

/* Banner Section */

.banner {
	background-color: rgb(211, 211, 211);
	max-width: 100%;
	padding: 2rem 0 2rem 1.5rem;
	position: relative;
	top: 2rem;
}

.banner-image {
	max-width: 60%;
}

.banner-image img {
	max-width: 100%;
	height: auto;
	margin-top: 2rem;
}

.banner-text {
	width: 25%;
	justify-content: center;
	flex-direction: column;
	margin-left: 1.5rem;
}

.banner .description {
	font-size: 1.2rem;
	font-weight: 500;
	padding-bottom: 1.5rem;
	line-height: 1.4;
}

.banner .button {
	color: rgb(255, 255, 255);
	background-color: rgb(60, 60, 60);
	line-height: 1.4;
	font-weight: 300;
	padding: .5rem 4rem;
	text-align: center;
}

/* On Campus Section */

#campus {
	position: relative;
	top: 2rem;
	margin: 2rem 0 2rem 1.5rem;
	justify-content: space-between;
}

#campus .main-content {
	max-width: 60%;
}

#campus img {
	max-width: 100%;
	height: auto;
	margin-bottom: 2rem;
}

#campus .description {
	font-weight: 300;
	margin-bottom: 2rem;
}

#campus .sidebar {
	max-width: 40%;
}

/* Online Section */

#online{
	position: relative;
}